NODE_ENV=production
PORT=3014

SMTP_HOST=mail.fulcrum.com.na
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=build@fulcrum.com.na
SMTP_PASS=Build@fulcrum12
SMTP_FROM=build@fulcrum.com.na
SMTP_TO=build@fulcrum.com.na
